<!DOCTYPE html>
<html>
    <head>
        <title>Tasksbox</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/readable/bootstrap.min.css" rel="stylesheet" integrity="sha384-/x/+iIbAU4qS3UecK7KIjLZdUilKKCjUFVdwFx8ba7S/WvxbrYeQuKEt0n/HWqTx" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- jQuery DataTables -->
        <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />

        <!-- chosen : A jQuery plugin that makes long, unwieldy select boxes much more user-friendly -->
        <script src="//harvesthq.github.io/chosen/chosen.jquery.js"></script>
        <link rel="stylesheet" href="//harvesthq.github.io/chosen/chosen.css" />

        <!--- Bootstrap Experimentation :
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        -->
        <%= csrf_meta_tags %>
    </head>
    <body>
    <%= render '/layouts/navbar' if current_user %>

    <div class="container">

        <% if !user_signed_in? %>
            <%= link_to "Register", new_user_registration_path %> | <%= link_to "Login", new_user_session_path %>
        <% end %>

        <% if notice %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>

        <% if alert %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
        <% end %>

        <%= yield %>
    </div>
    
    </body>
</html>
