<h2> Register New Client </h2>

<%= form_for @client do |f| %>
    <% if @client.errors.any? %>
        <ul style="color:red">
            <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <% if current_user.is_admin %>
    <div class="form-group">
    <%= f.label :user %><br/>
    <%= f.collection_select :user_id, User.where('is_admin = ?', false), :id, :email, prompt: "Select User", class: "form-control" %><br/>
    </div><br/>
    <% end %>

    <div class="form-group">
    <%= f.label :name %> <br/> 
    <%= f.text_field :name, class: "form-control" %> 
    </div><br/>
    
    <div class="form-group">
    <%= f.label :company %> <br/> 
    <%= f.text_field :company, class: "form-control" %>
    </div> <br/>
    
    <div class="form-group">
    <%= f.label :email %> <br/>
    <%= f.email_field :email, class: "form-control"%>
    </div> <br/>
    
    <div class="form-group">
    <%= f.label :mobile %> <br/>
    <%= f.text_field :mobile, class: "form-control" %>
    </div> <br/>

    <%= f.submit "Submit", class: "btn btn-primary" %> or <%= link_to "back", clients_path %>

<% end %>
