<!DOCTYPE html>
<html>
    <head>
        <title>Tasksbox</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

        <%= csrf_meta_tags %>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script
    </head>
    <body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Project Management</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><%= link_to "Clients", clients_path %></li>
                    <li class="active"><%= link_to "Projects", projects_path %></li>
                    <li><%= link_to "Products", products_path %></li>
                </ul>
            </div>
        </nav>

        <% if user_signed_in? %>
            Hey! <%= current_user.email %> | <%= link_to "Account Settings", edit_user_registration_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to "Register", new_user_registration_path %> | <%= link_to "Login", new_user_session_path %>
        <% end %>

        <br/> <br/>
        <%= link_to "Dashboard" %> | <%= link_to "Clients", clients_path %> | <%= link_to "Projects", projects_path %>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
</div>
    </body>
</html>
