<div class="container">
    <h2> Listing Clients : <%= @clients.size %> Clients </h2>

    <% if @clients.empty? %>
        <h3> Oops! No Clients registered as Yet ! </h3>
        <%= link_to "Register Client", new_client_path %>
    <% else %>
    <% if can? :create, Client.new %>
        <%= link_to "Register New Client", new_client_path %><br/><br/>
    <% end %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Email</th>
                    <th>Project Count</th>
                    <th>Tasks Count</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <% @clients.each_with_index { |client, index| %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= link_to client.name, client_path(client) %></td>
                        <td><%= client.company %></td>
                        <td><%= client.email %></td>
                        <td><%= client.projects.count %></td>
                        <% tsk_cnt = 0 %>
                        <% client.projects.each { |proj|  %>
                            <% tsk_cnt += proj.tasks.size } %>
                            <td><%= Task.joins(:project).where('projects.client_id = ?', client.id).size %></td>
                            <td><%= link_to "View Details", client_path(client.id) %>
                </tr>
            <% } %>
            </tbody>
        </table>
</div>
<% end %>

<% data = {}

@clients.each do |client|
    data[client.name] = client.projects.size 
end %>

<h3> Project Graph </h3>
<%= column_chart(data) %>


