<h2> Listing Projects : <%= @projects.count %> Projects </h2> 
<%= current_project["name"] %> | <%= link_to "Register New Project", new_project_path %> | <%= link_to "Export to Excel", projects_path(format: "xls") %> <br/><br/>

<%#= debug(session[:project]) %>
<%# debug(session) %>

<% if @projects.empty? %>
    <h3> Oops! Looks like there are No Projects registered ! :( </h3>
    <% link_to "Register Project", new_project_path %>
<% else %>
    <p> New and Ongoing Projects </p>
    <div class="list-group">
        <ol>
            <% Project.new_ongoing_projects(current_user).each { |proj| %>
                <%= link_to proj.details, project_path(proj.id), class: "list-group-item" %>
            <% } %>
        </ol>
    </div>

    <p> Completed Projects </p>
    <div class="list-group">
        <ol>
            <% Project.completed_projects(current_user).each { |proj| %>
                <%= link_to proj.details, project_path(proj.id), class: "list-group-item" %>
            <% } %>
        </ol>
    </div>

    <!--
        <table border="1">

        <thead>
        <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% @projects.each_with_index { |project, index| %>
            <tr>
            <td><%= index + 1 %></td>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%= project.status %></td>
            </tr>
        <% } %>
        </tbody>
        </table>
    -->




<h3> Project Status </h3>
<%

    new_projects = current_user.projects.where('status = ?', "new").count
    ongoing_projects = current_user.projects.where('status = ?', "on-going").count
    completed_projects = current_user.projects.where('status = ?', "completed").count

%>

<%= pie_chart({"New" => new_projects, "On-Going" => ongoing_projects, "Completed" => completed_projects}) %>

<% end %>